#!/usr/bin/env python

import os
import subprocess
from os import path

# Adjust the following:

os.environ["OGLT_SOURCE_ROOT"] = r"c:\data\gl\OGLTesting"

shell = ["cmd"]
# Or:
#shell = ["cmd"]
#shell = ["cmd", "/k", r'C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat', 'amd64']
#shell = ["powershell"]
#shell = [r"C:\cygwin64\Cygwin.bat"]
#shell = [r"C:\cygwin\Cygwin.bat"]
#shell = [r"C:\msys64\msys2.exe"]
#shell = ["bash"]
#shell = ["csh"]
#shell = ["zsh"]



# No need to change the following:

os.environ["PATH"] = os.environ["PATH"] + path.pathsep + path.join(os.environ["OGLT_SOURCE_ROOT"], "build", "commands")

subprocess.call(shell)

